{% extends "layout.html" %}
{% block content %}
    <header class='masthead'>
  <p class='masthead-intro'>Merhaba, Ben</p>
  <h1 class='masthead-heading'>ERSİN!</h1>
</header>
<section class="introduction-section">
    <h1>Bilgilendirme</h1>
    <p>Kocaeli Universitesi Yazlab 3.Projesi ile ilk defa Web Uygulaması yapmaktayım. Aynı zamnda ilk defa Python dilinin web uygulamasına dayalı kütüphanesini kullanmaktayım. </p>
</section>

<footer class="content-footer">
    <p>Bana Github'tan ulaşın:</p>
        <a class="css-is-deranged" href="https://github.com/Kinto2517" target="_blank"> <img width="100" height="90" border="0" align="center"  src="https://github.githubassets.com/images/modules/logos_page/Octocat.png"/></a>


</footer>
{% endblock content %}
